.loader{
    background-color: #181726;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loader--hidden{
    display: none;
}

.loader__logo{
    height: 100px;
    width: 100px;
}

.loader__bubble1, .loader__bubble2, .loader__bubble3 {

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(203, 108, 108);
    margin: 5px;
}