@import'../../app.scss';

.loader {
    background-color: $primary-dark;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.loader__bubbles-container {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50vh;
}

.loader--hidden {
    display: none;
}

.loader__bubble1 {

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $primary-green;
    margin: 5px;
    animation: 400ms jump ease-in-out infinite alternate;
}

.loader__bubble2 {

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $primary-green;
    margin: 5px;
    animation: 400ms jump 250ms ease-in-out infinite alternate;
}

.loader__bubble3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $primary-green;
    margin: 5px;
    animation: 400ms jump 400ms ease-in-out infinite alternate;
}

@-webkit-keyframes jump {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

@keyframes jump {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}