@import "app.scss";

.social-media-board {
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 1;

    ul {
        li {
            list-style: none;
        }
    }
}

.social-media-board__phone {
    height: 34px;
    width: 34px;
    margin: 5px 5px 10px 10px;
    ;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        svg {
            path:nth-child(1) {
                fill: #E4E4E4;
            }
        }
    }
}

.social-media-board__email {
    height: 34px;
    width: 34px;
    margin: 5px 5px 10px 10px;
    ;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        svg {
            path:nth-child(1) {
                fill: #E4E4E4;
            }
        }
    }
}

.social-media-board__github {
    height: 34px;
    width: 34px;
    margin: 5px 5px 10px 10px;
    ;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        svg {
            path {
                fill: #E4E4E4;
            }
        }
    }

}

.social-media-board__linkedIN {
    height: 34px;
    width: 34px;
    margin: 5px 5px 10px 10px;
    ;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        svg {
            path:nth-child(1) {
                fill: #E4E4E4;
            }
        }
    }
}