@import "app.scss";

.badge {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  margin: 5px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  color: $primary-white;
  background-color: $primary-dark;
  font-family: "poppins";
  font-size: $sm-font-size;
  font-weight: 700;
  text-transform: capitalize;
  list-style: none;
}
