@import "app.scss";

.carouselNav {
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 40px auto;
}


.carouselNav__btn-left-btn.MuiButton-root,
.carouselNav__btn-right-btn.MuiButton-root {
    background-color: #4b4b4b;
    border-radius: 50%;
    min-width: auto;
    margin: 0 2em;

    &:hover {
        background-color: $primary-dark;

    }

    svg {
        path {
            fill: $primary-green;
        }
    }
}

.carouselNav__btn-left-btn.MuiButton-text,
.carouselNav__btn-right-btn.MuiButton-text {
    padding: 6px;
}

.carouselNav__state {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: $primary-white;
    margin: 10px;
    cursor: pointer;
}

.carouselNav__state--active {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: solid 1px $primary-green;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 300ms;

    div {
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background-color: $primary-green;
        transition: background-color 3OOms;
    }
}