@import '../../app.scss';


#dev{
  background-color: $primary-brown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
}

.carousel-container{
  margin-top: 5em;
  width: 90%;
  max-width: 1344px;
  margin: 0 auto;
}

@media (max-width: 578px) {
  .carousel-container{
    width: 100%;
  }
}

.slide-left{
  animation: 800ms slide-left forwards;
  transform: scale(.7);
}

.slide-right{
  animation: 800ms slide-right forwards;
  transform: scale(.7);
}

.slide-from-left{
  animation: 400ms slide-from-left forwards;
}

.slide-from-right{
  animation: 400ms slide-from-right forwards;
}

.dev__btn{
  margin-left: auto;
  margin-right: 15%;
  z-index: 3;
}

.dev__bottom-separator{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(70%);
  z-index: 2;
}