@import "app.scss";

#creations {
    background-color: $primary-white;
    min-height: 100vh;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
}


@media (min-width: 608px) {
    .MuiContainer-root.creations__container {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 607px) {
    .MuiContainer-root.creations__container {
        padding-left: 14px;
        padding-right: 14px;
    }

}

.creations__top-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-25%);
}

.projects__title {
    font-family: 'pacifico';
    color: $primary-grey;
    font-size: $lg-font-size;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.projects__sub-title {
    font-size: 1.5em;
    font-family: "Poppins";
    color: $brown-text;
    margin-bottom: 30px;

    b {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
    }
}

.projects__content-container {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 1159px) {
    .projects__content-container {
        justify-content: center;

    }
}