@import'../../app.scss';

#creations{
    background-color: $primary-white;
    min-height: 100vh;
    position: relative;
    padding-top: 150px;
}

.creations__top-separator{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-25%) ;
}

.projects__title {
    font-family: 'pacifico';
    color: $primary-dark;
    font-size: $lg-font-size;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.projects__sub-title{
    font-size: 1.5em;
    font-family: "poppins";
    color: $primary-dark;
    margin-bottom: 30px;

    b{
        font-family: 'poppins-extra-bold';
    }
}