@import "../../app.scss";


#presentation{
    min-height: 100vh;
    width: 100%;
    padding-top: 5em;
    position: relative;
    flex-direction: column;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-image: linear-gradient(180deg, rgba(255, 92, 0, 0.43) 23.96%, rgba(217, 160, 253, 0.43) 73.44%, rgba(2, 255, 238, 0.43) 99%, rgba(255, 255, 255, 1) 100%);
}

#curve{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
}

#t-pink{
    width: 50%;
    margin-top: 150px;
}

.avatar.MuiAvatar-circle{
    width: 220px;
    height: 220px;
    margin: auto;

    &:hover{
        filter: grayscale(100%);
    }
}


.presentation__content{
    margin-top: 80px;
}

.presentation__infos-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 30px;
    ul{
        li{
            list-style: none;
            text-align: center;
        }
        li:nth-child(1){
            color: $ligth-dark;
            font-family: "muli";
            font-size: $md-font-size;
            text-transform: uppercase;

        }
        li:nth-child(2){
            color: $grey;
            font-family: "muli";
            font-size: $sm-font-size;
            text-transform: capitalize;

        }
        li:nth-child(3){
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-transform: capitalize;
            svg{
                height: 20px;
                width: 20px;
            }
            color: $grey;
            font-family: "muli";
            font-size: $sm-font-size;
            margin-top: 3px;
        }
    }
}

.presentation__text{
    max-width: 650px;
    margin: auto;
    div {
        text-align: justify;
        color: $light-grey;
        border-left: 1px solid #747474;
        padding-left: 10px;
    }
    
    
    h3 {
        color: $ligth-dark-p;
        font-family: "muli";
        font-size: $lg-font-size;
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}

.progressBar.MuiLinearProgress-root{
    height: 50px ;
    max-width: 300px;
    border: 1px solid $primary-grey;
    border-radius: 5px;
    margin: 5px auto;
    margin-right: 0;
    background-color: transparent;
    div{
        background: #536FB0;
    }
}

.progressBar-container{
    max-width: 300px;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 30px;
}
.progressBar1.MuiLinearProgress-root{
    height: 50px ;
    max-width: 260px;
    border: 1px solid $primary-grey;
    border-radius: 5px;
    margin: 5px auto;
    margin-right: 0;

    background-color: transparent;
    div{
        background:#CB6C6C;
    }
}

.progressBar2.MuiLinearProgress-root{
    height: 50px ;
    max-width: 210px;
    border: 1px solid $primary-grey;
    border-radius: 5px;
    margin: 5px auto;
    margin-right: 0;
    background-color: transparent;
    div{
        background: rgb(56, 170, 164)
    }
}