@import '../../app.scss';


.bg-logo {
  position: absolute;
  height: 100%;
  max-width: 400px;
  width: 90vw;
  background-image: url('../../assets/images/bg-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.dev-text {
  max-width: 600px;
  margin: auto 15px;

  .dev-text__title {
    font-family: 'pacifico';
    color: #FFF;
    font-size: $lg-font-size;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .dev-text__content {
    font-family: 'poppins';
    color: $primary-white;
    font-size: $paragraph-size;
    text-align: left;

    b {
      font-family: 'poppins-extra-bold';
    }
  }
}

.carousel-container__left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

.carousel-container__right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.animation-square {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: rotateIn 12s linear infinite;
}

.animation-square--speed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: rotateIn 8s linear infinite;
}

.animation-circle-one {
  height: 30px;
  width: 30px;
  border: solid 1px $primary-green;
  position: absolute;
  bottom: 0;
  right: 35px;
  border-radius: 50%;
}

.animation-circle-two {
  height: 20px;
  width: 20px;
  border: solid 1px $primary-white;
  position: absolute;
  bottom: 0;
  left: 50px;
  border-radius: 50%;
}

.animation-circle-three {
  height: 25px;
  width: 25px;
  border: solid 1px #FFF;
  position: absolute;
  top: 0;
  left: 40px;
  border-radius: 50%;
}

.animation-circle-four {
  height: 15px;
  width: 15px;
  border: solid 1px $primary-green;
  position: absolute;
  top: 0;
  right: 70px;
  border-radius: 50%;
}

.animation-circle-five {
  height: 25px;
  width: 25px;
  border: solid 1px $primary-green;
  position: absolute;
  top: 30px;
  right: 10px;
  border-radius: 50%;
}

.animation-circle-six {
  height: 40px;
  width: 40px;
  border: solid 1px $primary-white;
  position: absolute;
  bottom: -10px;
  left: 30px;
  border-radius: 50%;
}

.animation-wrapper-dev-front {
  height: 350px;
  width: 350px;
  position: relative;
  border-radius: 50%;
  background-image: url('../../assets/images/dev_web.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.animation-wrapper-dev-mob {
  height: 350px;
  width: 350px;
  position: relative;
  border-radius: 50%;
  background-image: url('../../assets/images/dev_mob.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.animation-wrapper-dev-back {
  height: 350px;
  width: 350px;
  position: relative;
  border-radius: 50%;
  background-image: url('../../assets/images/dev_back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-left {
  animation: 800ms slide-left forwards;
  transform: scale(.7);
}

.slide-right {
  animation: 800ms slide-right forwards;
  transform: scale(.7);
}

.slide-from-left {
  animation: 400ms slide-from-left forwards;
}

.slide-from-right {
  animation: 400ms slide-from-right forwards;
}

@media (max-width: 400px) {

  .animation-wrapper-dev-back,
  .animation-wrapper-dev-mob,
  .animation-wrapper-dev-front {
    height: 290px;
    width: 290px;
  }
}