@import "app.scss";

#parcours {
  min-height: 100vh;
  position: relative;
  background-color: $primary-dark;
  padding-top: 100px;
}

.parcours__title {
  font-family: "pacifico";
  color: $primary-white;
  font-size: $lg-font-size;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.parcours-content__sub-title {
  font-size: $md-font-size;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "pacifico";
  color: $primary-green;
}

.parcours__wrapper {
  margin-top: 100px;
}

.parcours-content__title {
  font-family: "Poppins";
  font-weight: 800;
  color: $primary-white;
  font-size: $paragraph-size;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.slide-left {
  animation: 800ms slide-left forwards;
  transform: scale(0.7);
}

.slide-right {
  animation: 800ms slide-right forwards;
  transform: scale(0.7);
}

.slide-from-left {
  animation: 400ms slide-from-left forwards;
}

.slide-from-right {
  animation: 400ms slide-from-right forwards;
}

#vertical-separator {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(40%);

  path {
    fill: rgba($color: #ffffff, $alpha: 0.05);
  }
}

.parcours-grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.parcours-grid__item--tasks {
  min-height: 675px;

  ul {
    li {
      font-family: "Poppins";
      font-size: 1.4em;
      text-align: center;
    }
  }
}

.parcours-grid__item--infos {
  height: 100px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      font-family: "pacifico";
      font-weight: 600;
      font-size: 1.25em;
      display: flex;
      margin: 0 20px 4px 0 !important;

      svg {
        path {
          fill: $primary-green;
        }
      }
    }
  }
}

.parcours-grid__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  ul {
    margin: 15px;
    position: relative;

    li {
      color: $primary-white;
      margin: 15px auto;
      list-style: none;

      svg {
        margin-right: 5px;
      }
    }
  }
}

.li-number {
  color: $primary-green;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2em;
}