@import'../../app.scss';

.formation-item{
    position: relative;
    margin-bottom: 30px;
    font-family: 'muli';
    color: $ligth-dark-p;
    font-size: $md-m-font-size;
    text-decoration: none;
}

.formation-item__title{
    font-family: 'muli-bold';
    padding-bottom: 5px;
    color: $ligth-dark;
    .formation-item__title-point{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $primary-orange;
        margin-left: auto;
        margin-right: 30px;
    }
}

.formation-item__content {
        
    li {
        list-style: none;
        margin-left: 15px;
        font-family: 'muli-extra-light';

        .formation-item__content-point{
            display: inline-block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $light-grey;
            margin-right: 10px;
        }
    }
}