@import "../../app.scss";

#curriculumvitae{
    min-height: 100vh;
    position: relative;
    width: 100%;
    // background: linear-gradient(180deg, rgb(255, 255, 255) 0.45%,#F8FCFF 15.58% ,#FFDADD 99.58%);
    background-color: #fff;
}

.curriculumvitae__title{
    font-family: "muli-bold";
    font-size: $lg-font-size;
    text-decoration: none;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    color: $ligth-dark-p;

}

.curriculumvitae__tabs {
    margin-top: 80px;
    padding-bottom: 50px;
    button{
        color: $grey;
        padding: 5px 9px;
    }
    .MuiTab-root{
        font-size: $sm-font-size;
        font-family: 'muli-bold';
    }
    .MuiTab-textColorSecondary.Mui-selected{
        color: $primary-orange;
    }
    .MuiTabs-indicator{
        background-color: $primary-orange;
    }
    .PrivateTabIndicator-root-279{
        display: none;
    }
}

.curriculumvitae__content {
    padding-left: 0px;
}

.curriculumvitae__links-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    .curriculumvitae__link{
        a {
            text-decoration: none;
            color: $ligth-dark-p;
        }
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $sm-font-size;
        font-family: "muli";
        text-decoration: none;
        margin: 10px;
        &:hover :nth-child(2){
            color: $primary-orange;
        }
        .curriculumvitae__icon{
            height: 32px;
            width: 32px;
            background-color: $primary-orange;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            img {
                height: 18px;
                width: 18px;
            }
        }
    }
   
}

.notification{
    position: fixed;
    right: 20px;
    top: 80px;
    height: 40px;
    width: 110px;
    border-radius: 5%;
    background-color: $primary-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 12px rgb(214, 214, 214);
    -webkit-box-shadow: 2px 5px 12px rgb(214, 214, 214);
    -moz-box-shadow: 2px 5px 12px rgb(214, 214, 214);
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    font-family: 'muli';
    color: #fff;
    text-transform: capitalize;
    font-size: $md-m-font-size;
    z-index: 1;
    svg {
        margin-right: 10px;
    }
}
@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

#curve-cv{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
