@import "app.scss";

#cv {
    background-color: $primary-dark;
    position: relative;
    z-index: 1;
}

.cv__grid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cv__text {
    font-size: $paragraph-size;
    color: $primary-white;
    font-family: "Poppins";
    text-align: center;
    margin: auto 5px;

    b {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
    }
}

.cv__btn {
    margin: 10px auto;
}