//color

$primary-dark: #353535;
$primary-brown: #716060;
$primary-light-brown: #8F8483;
$brown-text: #5a5050;
$primary-green: #69EE00;
$primary-orange: #d78847;
$primary-white: #EFEAE4;
$primary-grey: #C5BDBD;
$dark-filter: rgba(53, 53, 53, .5);
$primary-grey: #616262;

// font size
$md-font-size: 1.25em;
$sm-font-size: .85em;
$lg-font-size: 2.5em;
$huge-font-size: 4.5em;
$paragraph-size: 1.8em;