#app-root{
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.g-reverse-text{
    unicode-bidi:bidi-override;
    direction:rtl;
}

.g-scroll {
    scroll-behavior: smooth;
    overflow-y: scroll;
    // For Chrome in Mac
    -webkit-overflow-scrolling: touch;
    }

//color

$primary-dark: #353535;
$primary-brown: #716060;
$primary-green: #69EE00;
$primary-white: #EFEAE4;
$primary-grey: #C5BDBD;
$dark-filter: rgba(53, 53, 53, .5);

// font size
$md-font-size: 1.1em;
$sm-font-size: .85em;
$lg-font-size: 2.5em;
$huge-font-size: 4.5em;

