@import "../../app.scss";


.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate {
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: $md-m-font-size;
        color: #fff;
        font-family: 'muli';
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        animation-duration: 1.7s;
    }
  
}

@-webkit-keyframes fadeIn {
   0% {   
       opacity: 0;
   }
   90% {   
    opacity: 0;
    }
   95% {   
    opacity: 0.2;
    }
   96% {   
    opacity: 0.4;
    }
   100%  {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {   
        opacity: 0;
    }
    90% {   
        opacity: 0;
        }
    95% {   
        opacity: 0.2;
        }
    96% {   
        opacity: 0.4;
    }
    100%  {
       opacity: 1;
     }
  }
  